<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 1</title>
</head>
<body>
    <table role="presentation" style="width:100%;border:none;border-spacing:0">
        <tbody>
            <tr>
                <td align="center" style="padding:0;background-color:#f4f4f4">
                    <table role="presentation" style="max-width:600px;border-spacing:0;font-family:Arial,sans-serif;font-size:14px;line-height:18px;border:1px solid #f4f4f4">
                        <tbody>
                            <tr>
                                <td>
                                    <div id="logoemp"></div>                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0px 20px 10px 20px;text-align:center;background-color:#000000">
                                    <p style="margin:0;color:#ffffff;font-size:16px;padding:20px 20px 10px 20px;font-weight:bold" id="empresa"></p>
                                    <p style="margin:0;color:#ffffff;font-size:14px;padding-bottom:23px" id="SOLICITUD"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:36px 64px 22px 64px;text-align:left;background-color:white">
                                    <p style="text-align:justify">
                                        Estimado/a, le comunicamos que ha recibido una solicitud de información de:
                                        <b id="INFO"></b>, en nuestro <b id="CANAL"></b>:<b id="MEDIO"></b>, con la siguiente información:                                        
                                    </p>
                                    <p id="NOMBRES"></p>
                                    <p id="CELULAR"></p>
                                    <p id="CIUDAD"></p>
                                    <p id="SUCURSAL"></p>
                                    <p id="CEDULA"></p>
                                    <p id="CORREO"></p>
                                    <p id="TIPO_REPUESTO"></p>
                                    <p id="PRODUCTO"></p>
                                    <p id="ANIO"></p>
                                    <p>Por favor su ayuda con la gestión</p>
                                    <p id="firmaempresa"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="background-color:#f1f1f1;display:flex;padding:11px 20px 10px 41px">
                                    <p style="font-size:12px;color:gray">Este correo y su contenido son netamente
                                        informativos y por este motivo no debe ser respondido. Para cualquier inquietud
                                        favor comunicarse con el administrador. <span style="font-weight:bolder">Nunca
                                            le pediremos información personal o contraseñas a traves de este
                                            medio.</span> </p>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>